.nav-add {
  switch to search 
}

.gifrow {
  margin: 2em 0;
}
.gifstill {
  margin: auto;
}

.gif {
  cursor: pointer;
}

.sesemestreetbg {
  height: 600px;
  width: 100%;
  background-image: url("images/sesemestreetbanner.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#load-more {
  visibility: hidden;
}